<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<!--目 标 -->
	<bean name="/xd24/targetController.do" class="com.seeyon.apps.xd.controller.Xd24TargetController"/>
	<!-- 指标库管理 -->
	<bean name="/xd24/quotaController.do" class="com.seeyon.apps.xd.controller.Xd24QuotaController"/>
    <!-- 版本控制 -->
    <bean name="/versionController.do" class="com.seeyon.apps.xd.controller.VersionController"></bean>
        <!-- 权限校验 -->
    <!--  <bean name="/xd24/checkController.do" class="com.seeyon.apps.xd.controller.Xd24CheckController"/>-->
        <!-- 菜单权限管理 -->
    <bean name="/xd24/menuRoleController.do" class="com.seeyon.apps.xd.controller.Xd24MenuRoleController"/>

    
    
    <!-- 战略地图维度 -->
    <bean name="/xd24/zldtwdController.do" class="com.seeyon.apps.xd.controller.Xd24ZldtwdController"/>
</beans>
    
