<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byName">
	<!-- manager -->
     <bean id="versionManager" class="com.seeyon.apps.xd.manager.VersionManagerImpl"></bean>
	<bean id="xd24QuotaManager" class="com.seeyon.apps.xd.manager.Xd24QuotaManagerImpl"/>
	<bean id="xd24QuotaDao" class="com.seeyon.apps.xd.dao.Xd24QuotaDaoImpl"/>

	<!--目标Dao  -->
	<bean id="xd24TargetDao" class="com.seeyon.apps.xd.dao.Xd24TargetDaoImpl"/>
	<bean id="xd24TargetManager" class="com.seeyon.apps.xd.manager.Xd24TargetManagerImpl"/>
     
    <bean id="versionDao" class="com.seeyon.apps.xd.dao.VersionDaoImpl"></bean>
    <!-- 战略地图维度 -->

    <!-- 组织计划类型 -->
    <bean id="xd24ZzjhlxManger" class="com.seeyon.apps.xd.manager.Xd24ZzjhlxMangerImpl"/>
   
    <bean id="xd24ZldtwdManager" class="com.seeyon.apps.xd.manager.Xd24ZldtwdManagerImpl"/>
    <bean id="xd24ZldtwdDao" class="com.seeyon.apps.xd.dao.Xd24ZldtwdDaoImpl"/>
    <!-- 菜单角色管理 -->
    <bean id="menuRoleManager" class="com.seeyon.apps.xd.manager.MenuRoleManagerImpl"/>
    <bean id="menuRoleDao" class="com.seeyon.apps.xd.dao.MenuRoleDaoImpl"/>

    <!-- 人员基础信息 -->
    <bean id="xdUserManager" class="com.seeyon.apps.xd.manager.XdUserManagerImpl"/>
    
    <!-- 规划 -->
     <bean name="guiHuaManager" class="com.seeyon.apps.xd.manager.Xd24GuiHuaManagerImpl"/>
    <bean name="guiHuaDao" class="com.seeyon.apps.xd.dao.Xd24GuiHuaDaoImpl"/>
</beans>
