<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byName">
	<!-- manager -->
     <bean id="versionManager" class="com.seeyon.apps.xd.manager.VersionManagerImpl"></bean>
	<bean id="xd24QuotaManager" class="com.seeyon.apps.xd.manager.Xd24QuotaManagerImpl"/>
	<bean id="xd24QuotaDao" class="com.seeyon.apps.xd.dao.Xd24QuotaDaoImpl"/>
	<!--目标Dao  -->
	<bean name="xd24TargetDao" class="com.seeyon.apps.xd.dao.Xd24TargetDaoImpl"/>

	<bean name="xd24TargetManager" class="com.seeyon.apps.xd.manager.Xd24TargetManagerImpl"/>
</beans>